@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");
$primary-font: #707070;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  height: 100%;
  background: #f4f7f4 0% 0% no-repeat padding-box;
}

.container {
  padding: 40px 23px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  margin: 0;
  color: $primary-font;
  text-align: center;
  font-family: "Roboto";
  font-size: 44px;
  font-weight: normal;
}

p {
  margin: 32px 0;
  color: $primary-font;
  text-align: center;
  font-size: 24px;
}

.start-button {
  padding: 11px 25px;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
  background: transparent linear-gradient(90deg, #43a546 0%, #28712b 100%) 0% 0%
    no-repeat padding-box;
}

.race-heading {
  margin-bottom: 55px;
}

#progress-bar {
  margin: 24px 0 0 0;
  width: 100%;
}

.race-text {
  text-align: left;
  margin: 24px 0;
}

.typearea {
  width: 100%;
  display: flex;
  flex-direction: column;
  label {
    margin-bottom: 5px;
    color: #333333de;
    font-size: 16px;
    font-weight: 700;
  }
  #input-field {
    border: 1px solid #464646;
  }
}

.wpm-score {
  font-family: Roboto;
  font-size: 32px;
}

.fireworks {
  max-width: 100%;
}

.try-again-button {
  margin-top: 22px;
  padding: 12px 52px;
  border: none;
  border-radius: 4px;
  color: #00000099;
  background: #e0e1e2 0% 0% no-repeat padding-box;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
}

@media (min-width: 768px) {
  body {
    background: #c8dbc7 0% 0% no-repeat padding-box;
  }
  #root {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container {
    width: 702px;
    padding: 0;
    background: #f4f7f4 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 10px #00000029;
    border-radius: 13px;
    h2 {
      margin-top: 53px;
    }
    p {
      margin: 8px 107px;
      font-size: 16px;
    }
    .start-button {
      margin-bottom: 69px;
    }
  }

  .race-container {
    padding: 0 47px;
    align-items: initial;
    .race-heading {
      margin: 24px 0 0 0;
      text-align: left;
    }
    #progress-bar {
      margin: 8px 0 0 0;
    }
    .race-text {
      margin: 8px 0 0 0;
      font-size: 24px;
    }
    .typearea {
      margin: 8px 0 40px 0;
    }
  }
  .ending-container {
    padding: 0 47px;
    display: grid;
    grid-template-columns: 1.2fr 2fr;
    grid-template-areas:
      "header header header"
      "progress-bar progress-bar progress-bar"
      "wpm image image"
      "button image image";
    h2 {
      grid-area: header;
      margin: 24px 0 16px 0;
      text-align: left;
    }
    #progress-bar {
      grid-area: progress-bar;
      margin: 0;
    }
    .wpm-score {
      grid-area: wpm;
      align-self: start;
      margin: 40px 0 0 0;
      font-size: 32px;
    }
    .fireworks {
      grid-area: image;
      height: 180px;
      justify-self: center;
      margin: 8px 0 16px 0;
    }
    .try-again-button {
      grid-area: button;
      align-self: start;
      justify-self: center;
      margin: 0;
    }
  }
}
